<div>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="alert alert-success" *ngIf="message">
    {{ message }}
  </div>

  <div *ngIf="activeStep == 'firstStep'">
    <form
      [formGroup]="sendConfirmationCodeForm"
      #form="ngForm"
      (ngSubmit)="onSubmitSendConfirmationCodeForm()"
    >
      <div class="form-group">
        <label class="form-label">username</label>
        <input
          placeholder="username"
          type="email"
          class="form-control form-control-sm form-control-no-borders"
          name="emailOrUsername"
          formControlName="emailOrUsername"
        />

        <div
          *ngIf="
            sendConfirmationCodeForm.get('emailOrUsername')?.errors?.required &&
            form.submitted
          "
        >
          <small class="text-danger"> This field is required.</small>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="button"
          (click)="onClickBackBtnToLoginScreen()"
          class="btn btn-link p-0 float-right mb-2"
        >
          ← back
        </button>
      </div>
      <button
        type="submit"
        [disabled]="loading"
        class="btn btn-primary btn-block"
      >
        next
      </button>
    </form>
  </div>
  <div *ngIf="activeStep == 'secondStep'">
    <form
      [formGroup]="verifyConfirmationCodeForm"
      #form="ngForm"
      (ngSubmit)="onSubmitVerifyConfirmationCodeForm()"
    >
      <div class="form-group">
        <label class="form-label"> confirm code </label>
        <input
          [placeholder]="'auth.confirmCode' | translate"
          type="text"
          class="form-control form-control-sm form-control-no-borders"
          name="code"
          formControlName="code"
        />

        <div
          *ngIf="
            (verifyConfirmationCodeForm.get('code')?.errors?.required ||
              verifyConfirmationCodeForm.get('code')?.errors?.minlength ||
              verifyConfirmationCodeForm.get('code')?.errors?.maxlength) &&
            form.submitted
          "
        >
          <small class="text-danger"> Please enter valid code</small>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="button"
          (click)="onClickBackBtn()"
          class="btn btn-link p-0 float-right mb-2"
        >
          ← back
        </button>
        <button
          type="button"
          [disabled]="loading"
          (click)="onClickResend()"
          class="btn btn-link p-0 float-right mb-2"
        >
          resend code
        </button>
      </div>
      <button
        type="submit"
        [disabled]="loading"
        class="btn btn-primary btn-block"
      >
        submit
      </button>
    </form>
  </div>
  <div *ngIf="activeStep == 'thirdStep'">
    <form
      [formGroup]="passwordResetForm"
      #form="ngForm"
      (ngSubmit)="onSubmitPasswordResetForm()"
    >
      <div class="form-group">
        <label class="form-label"> password </label>
        <div class="input-group">
          <input
            placeholder="password"
            [type]="passwordState['pw1'] ? 'text' : 'password'"
            class="form-control form-control-sm form-control-no-borders"
            formControlName="password"
          />
          <div
            *ngIf="passwordState['pw1']; else elsePw1Block"
            (click)="togglePasswordState('pw1')"
          >
            <span class="input-icon material-icons"> visibility_off </span>
          </div>
          <ng-template #elsePw1Block>
            <div (click)="togglePasswordState('pw1')">
              <span class="input-icon material-icons"> visibility </span>
            </div>
          </ng-template>
        </div>

        <div
          *ngIf="
            form.submitted &&
            passwordResetForm.get('password')?.errors?.required
          "
        >
          <small class="text-danger"> Password is required!</small>
        </div>
        <div
          *ngIf="
            form.submitted &&
            passwordResetForm.get('password')?.errors?.validFormat
          "
        >
          <small class="text-danger"> Password is not in valid format! </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label"> confirm password </label>
        <div class="input-group">
          <input
            placeholder="confirm password"
            [type]="passwordState['pw2'] ? 'text' : 'password'"
            class="form-control form-control-sm form-control-no-borders"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="passwordState['pw2']; else elsePw2Block"
            (click)="togglePasswordState('pw2')"
          >
            <span class="input-icon material-icons"> visibility_off </span>
          </div>
          <ng-template #elsePw2Block>
            <div (click)="togglePasswordState('pw2')">
              <span class="input-icon material-icons"> visibility </span>
            </div>
          </ng-template>
        </div>
        <div
          *ngIf="
            form.submitted &&
              passwordResetForm.get('confirmPassword').errors?.required;
            else matchingElseBlock
          "
        >
          <small class="text-danger">Confirm Password is required!</small>
        </div>
        <ng-template #matchingElseBlock>
          <div *ngIf="form.submitted && passwordResetForm.errors?.isMatching">
            <small class="text-danger">Password is not matching!</small>
          </div>
        </ng-template>
      </div>
      <button
        type="submit"
        [disabled]="loading"
        class="btn btn-primary btn-block"
      >
        submit
      </button>
    </form>
  </div>
</div>
