<div class="container">
    <div class="d-flex flex-row-reverse justify-content-between align-items-start">
        <button class="btn btn-danger" (click)="leftClick()"> Leave Game</button>
        <app-player (onClickRestart)="restart($event)" (onClickDrinkElixir)="dirinkElixir($event)"  [player]="player" [isOwner]="true"></app-player>
    </div>
    <div class="pb-1"></div>
    <div class="d-flex flex-wrap">
        <div *ngFor="let player of players"   style="background-color: DodgerBlue; padding: 10px;">

            <app-player  (click)="onClickPlayer(player)" [player]="player"></app-player>
        </div>
      </div>
</div>
