.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  overflow-x: auto;
}
.chartAreaVerticalWrapper {
  max-height: 300px;
  overflow-x: auto;
}
