.modal-lg-900 {
  max-width: 900px;
}

.modal-lg-1100 {
  max-width: 1100px;
}

.modal-xlg {
  max-width: 1200px;
}

.custom-modal {
  .modal-content {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 10px 1px rgba(136, 148, 171, 0.25);
  }
  .modal-header {
    border: none;
    height: 30px;
  }
}

.action-plan-notes {
  .modal-content {
    width: 640px;
    padding-bottom: 3rem;
  }
}

.filter-company-modal {
  .modal-content {
    padding: 1rem 0;
  }
}

.permission-modal {
  .modal-body {
    margin-top: 1rem;
  }
}

.user-details-modal {
  .modal-content {
    width: 640px;
  }
}

.viewers-modal {
  max-width: 600px;
}

.mobile-app-modal {
  display: flex;
  align-items: flex-end;
}

.video-modal-lg {
  height: calc(100vh - 80px);
  max-width: unset !important;
  max-height: calc(100vh - 80px);
  justify-content: center;

  .modal-content {
    max-width: calc(100vw - 20px);
    width: calc(100vw - 40px);
  }
}
