$primary-color: #4169e1;
$primary-color-opacity-50: #e2e8fc;
$primary-color-opacity-75: #476ee23b;
$primary-blue: #4169e1;
$primary-blue-two: #476ee2;
$hover-blue: #365DD4;
$secondary-color: #76ddfb;
$color-gray: #6c757d;
$color-primary-gray: #bdc6e3;
$color-light-blue: #8e9ece;
$color-pink: #e91e63;
$color-red: #f44336;
$color-green: green;
$success-color: #45b949;
$color-orange: orange;
$warning-color:  #efac5c;
$background-color: #e9eef8;
$font-color: #4b577b;
$gray-font: #747fa0;
$light-gray-color: #f6f6fb;
$disable-color: #8e92a4;
$dark-red: #bd2f2f;
$border-gray: #dde3ef;
$header-height: 70px;
$main-margin: 20px;
$main-margin-lg: 32px;
$main-margin-md: 20px;
$main-margin-xs: 20px;
$table-menu-width: 60px;
